.homeBody{
    margin: 0;
    padding: 0;
}
.bgclass{
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}
#home{
    background: url("../img/building.png") no-repeat center;
    background-size: cover ;
    min-height: 600px;
    width: 100%;
}
#projects{
    background: url("../img/wp1842363.png") no-repeat center;
    background-size: cover;
    min-height: 100% !important;
    height: 100% !important;
    width: 100%;
}
#pr{
    background: url("../img/22222.png") no-repeat center;
    background-size: cover ;
    min-height: 100% !important;
    height: 100% !important;
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 400px;
    display: block;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.fillbackpie{
    padding: 5px;
    border-radius: 10px;
    background: rgba(255,253,245,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,253,245,1) 0%, rgba(245,237,155,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,253,245,1)), color-stop(100%, rgba(245,237,155,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,253,245,1) 0%, rgba(245,237,155,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,253,245,1) 0%, rgba(245,237,155,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,253,245,1) 0%, rgba(245,237,155,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,253,245,1) 0%, rgba(245,237,155,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf5', endColorstr='#f5ed9b', GradientType=1 );
}

.item-a { width:200px; height: 200px; text-align: center;line-height: 200px;background: rgba(255,208,20,0.4) }
.item-ac { width:100%; height: 200px; text-align: center;line-height: 200px;background: rgba(255,208,20,0.4) }
.link-bkg{
    background: rgba(0,0,0,0.75) !important;
    width: 100%;
    line-height: 1rem;
}
.link-bkg a{
    color: #ffffff !important;
}
.bg-darkness{
    background: rgba(0,0,0,0.75) !important;
    height: 230px;
}
.rb{
    font-size: 1rem;
}
@media screen and (max-width: 900px) and (min-width: 200px) {
    .bg-darkness{
        background: none !important;
    }
    .mobile{
        display: none !important;
    }
}
